#page-about
  h1
    display: none

  section
    display: flex
    flex-wrap: wrap
    margin: 1.5em 0

    h2
      +article-title

    p
      margin-left: auto
      width: 65%

      &:first-of-type
        margin-top: 0

    ul
      margin-top: 0
      padding-left: 0
