@import variables
@import page-index
@import page-get_involved
@import page-about

html
  color: $text
  height: 100%
  line-height: 1.8

body
  background: url(../images/bg.png)
  display: flex
  flex-direction: column
  font-family: 'Hind', sans-serif
  margin: 0
  min-height: 100%

  main, nav ul, footer ul
    box-sizing: border-box
    margin: 1em auto 0
    max-width: 50em

nav, footer
  ul
    display: flex
    padding: 0

    li
      display: block

      a
        color: inherit
        text-decoration: inherit

nav
  ul li
    padding: .5em
    text-transform: lowercase
    transition-duration: 350ms

    &:first-child
      margin-right: auto

    &:last-child
      border: 2px solid $primary

    &.active
      font-weight: 700

      &::before
        background: $primary
        border-radius: 100%
        content: ""
        display: inline-block
        height: .35em
        margin-right: .35em
        width: .35em

    &:hover
      transform: translateY(-5px)
      -webkit-transform: translateY(-5px)

main
  flex: 1
  padding: 1em

  a
    color: inherit
    display: inline-block
    font-weight: 700
    text-decoration: none
    transition-duration: 350ms

    &:hover
      color: $primary
      transform: translateY(-5px)
      -webkit-transform: translateY(-5px)

  h2
    font-weight: 300
    margin: 1.5em 0 0.5em

footer
  ul
    flex-direction: column

    li
      margin: .5em 0
      transition-duration: 350ms

      @each $name in github, twitter, about, kozea
        &.#{$name} a
          background: url("../images/#{$name}.svg") no-repeat center
          display: block
          font-size: 0
          height: 30px
          width: 30px

      &:hover
        transform: translateY(-5px)
        -webkit-transform: translateY(-5px)

@import responsive
