@import url('https://fonts.googleapis.com/css?family=Hind:300,700')

$primary: #6E6186

html
  color: #1C1C1C
  height: 100%
  line-height: 1.6

body
  display: flex
  flex-direction: column
  font-family: Hind, sans-serif
  margin: 0
  min-height: 100%

  main, nav ul, footer ul
    box-sizing: border-box
    margin: 0 auto
    max-width: 50em

nav, footer
  ul
    display: flex
    padding: 0

    li
      display: block

      a
        color: inherit
        text-decoration: inherit

nav
  ul
    li
      padding: 1em .25em
      text-transform: lowercase

      &:first-child
        margin-right: auto

      &.active
        font-weight: 700

        &::before
          background: black
          border-radius: 100%
          content: ""
          display: inline-block
          height: .35em
          margin-right: .35em
          width: .35em

main
  flex: 1
  padding: 1em

  a
    color: $primary

  h1, h2
    font-weight: 300
    margin: 1.5em 0 0.5em


#page-index
  h1
    background: #eee
    margin: 0
    max-width: 45%

  section
    align-items: flex-start
    box-sizing: border-box
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    > *
      max-width: 45%

    h2
      background: #eee
      height: 350px
      margin: 0

    ol
      background: #eee
      flex: 1 100%
      margin-left: auto
      max-width: 100%

    dl
      text-align: center

      dt, dd
        background: #eee

      dt
        padding: 1em

      dd
        margin-bottom: 1em
        margin-left: 0
        padding: 0 1em 1em 1em

    p
      &:first-of-type
        margin: 0

      &:last-of-type
        max-width: 100%
        text-align: right
        width: 100%
