<!DOCTYPE html>

{% set PAGES = (
  ('index', 'Kozea Community'),
  ('get_involved', 'Get involved'),
  ('about', 'About'),
) %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kozea Community - We build open source software that you will love" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>Kozea Community - {{ dict(PAGES).get(page, page) }}</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.sass.css') }}" />
    <link type="image/png" rel="icon" href="../static/images/favicon.png" />
  </head>

  <body id="page-{{ page }}">
    <nav>
      <ul>
        {% for id, name in PAGES %}
          <li {{ 'class="active"' if page == id }}><a href="{{ url_for('page', page=id) }}">{{ name }}</a></li>
        {% endfor %}
        <li><a href="https://kozeagroup.wordpress.com/category/community/">Blog</a></li>
        <li><a href="https://www.patreon.com/kozea">Donate</a></li>
      </ul>
    </nav>

    <main>
      <h1>{{ dict(PAGES).get(page, page) }}</h1>
      {% block content %}{% endblock content %}
    </main>

    <footer>
      <ul>
        <li class="github"><a href="https://github.com/Kozea">GitHub</a></li>
        <li class="about"><a href="{{ url_for('page', page='about', _anchor='contact') }}">Contact</a></li>
        <li class="kozea"><a href="https://kozea.fr/">Made with ♥ by Kozea</a></li>
      </ul>
    </footer>
  </body>
</html>
