{% extends "_layout.jinja2" %}

{% block content %}
  <section>
    <h2>Fun Free Software Designed for Real Life</h2>
    <p>
      Kozea Community is a group of people designing, maintaining and
      delevoping free (as in freedom) software.
    </p>
  </section>

  <section>
    <h2>Main Projects</h2>

    <section>
      <h3>Pygal</h3>
      <p>A vector charts generator.</p>
    </section>

    <section>
      <h3>WeasyPrint</h3>
      <p>An automatic documents and images creator based on web technologies.</p>
    </section>

    <section>
      <h3>wdb</h3>
      <p>An improbable web debugger through WebSockets.</p>
    </section>

    <section>
      <h3>Radicale</h3>
      <p>A simple web server for calendars and contacts.</p>
    </section>
  </section>

  <section>
    <h2>Other Projects</h2>

    <section>
      <h3>Multicorn</h3>
      <p>Lorem Ipsum.</p>
    </section>

    <section>
      <h3>CairoSVG</h3>
      <p>Lorem Ipsum.</p>
    </section>

    <section>
      <h3>log_colorizer</h3>
      <p>Lorem Ipsum.</p>
    </section>

    <section>
      <h3>Umlaut</h3>
      <p>Lorem Ipsum.</p>
    </section>

    <section>
      <h3>tinycss2</h3>
      <p>Lorem Ipsum.</p>
    </section>

    <section>
      <h3>cssselect2</h3>
      <p>Lorem Ipsum.</p>
    </section>

    <section>
      <h3>Flask-WeasyPrint</h3>
      <p>Lorem Ipsum.</p>
    </section>

    <section>
      <h3>Pyphen</h3>
      <p>Lorem Ipsum.</p>
    </section>

    <section>
      <h3>CairoCFFI</h3>
      <p>Lorem Ipsum.</p>
    </section>
  </section>
{% endblock content %}
