{% extends "_layout.jinja2" %}

{% block content %}
  <section>
    <h2>We build open source software that you will love</h2>
    <p>
      After years and years of extremely intense research (and endless nights
      drinking in pubs with friends), we've found the three most important
      rules of free software development:
    </p>
    <ol>
      <li>have good ideas</li>
      <li>forget limits</li>
      <li>build step by step</li>
    </ol>
    <p>
      Having good ideas is hard, that's why we chose to rely on your ideas
      (they're much better than ours, aren't they?). Our job is to blindly
      follow the two other rules, and we think that we're doing that quite well
      according to what we got so far:
    </p>
    <dl>
      <dt id="weasyprint"><a href="https://weasyprint.org/">WeasyPrint</a></dt>
      <dd>An amazing document factory (2.3k★);</dd>
      <dt id="pygal"><a href="http://pygal.org/">Pygal</a></dt>
      <dd>A smart (and a bit naughty) chart drawer (1.9k★);</dd>
      <dt id="radicale"><a href="https://radicale.org/">Radicale</a></dt>
      <dd>A mini-tiny calendar and contact manager (1.4k★);</dd>
      <dt><a href="https://github.com/Kozea/wdb#readme">wdb</a></dt>
      <dd>An improbable web debugger (1.3k★);</dd>
    </dl>
    <p>
      and <a href="https://github.com/Kozea">many more</a>…
    </p>
  </section>
{% endblock content %}
